.header{
    background-color: #002F34;
    min-height: 70px;
    display: flex;
    align-items: center;
    color: white;

    &__logo{
        width: 70px;
        display: flex;
    }
    &__nav{
        display: flex;
        align-items: center;
        gap: 0 2rem;
    }
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__list{
        display: flex;
        align-items: center;
        gap: 0 50px;
    }
    &__select{
        font-size: 1rem;
        color: #FFFFFF;
        background-color: initial;
        border: 1px solid #FFFFFF;
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
    }
    &__select:focus{
        background-color: #002F34;
    }
    &__mode{
        font-size: 0.5rem;
        color: #FFFFFF;
        background-color: initial;
        border: 1px solid #FFFFFF;
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
    }
    &__mode:focus{
        background-color: #002F34;
    }
    &__btn{
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        text-decoration: none;
        color: white;
        background-color: initial;
        border: none;
        gap: 0 10px;
        cursor: pointer;
    }
    &__btn:hover{
        opacity: 0.5;
    }
    &__icon{
        font-size: 1.5rem;
    }
}
.header.dark{
    background-color: #000000 !important;
}
.header.light{
    background-color: #002F34 !important;
}